<div id="<%= dom_id eat %>">
  <div>
    <strong>Name:</strong>
    <%= eat.name %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= eat.price %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= eat.description %>
  </div>

</div>
